.welcome-message {
    font-size: 2.5em;
    background-color: #00d600;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt {
    font-size: 2.5em;
    background-color: #d60000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}